<<<<<<< HEAD
h1{
  color: Red;
  text-align: center;
  font-size:50px;
  font-family: 'Rye', cursive;
}
.bold{
  font-wegiht: 600;
}
p {
 font-family: 'Freckle Face', cursive;
 font-size: 60px;
=======


body{
   font-size:20px;  
  font-family:'Rye',"The Sisters Daring Night";
  text-align:center;
  
}
h1 {
  font-size:20px;  
  font-family:'Rye',"The Sisters Daring Night";
  text-align:center;
  
>>>>>>> d9d30b2e8cb510b8466de40fa4cab201b2ec812d
}