
h1{
  color: Red;
  text-align: center;
  font-size:40px;
  font-family: 'Rye', cursive;
}
.bold{
  font-weight: 15;
}
p {
 font-family: 'Freckle Face', cursive;
 font-size: 20px;
 color:white;
}
body{
  background:black
}
h2{
  color: White;
  text-align:center;
  font-size:20px;
}

.blue {
 color:red; 
 background: black;
}
.blue-botton{
  color:red;
  
}
.Gender{
  color:red;
}
.Phone{
  color:red;
}
.Seat{
  color:red;
}
h3{
  color:White;
  text-align: center;
  font-size: 30px;
}